@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;/*faz com que o body ocupe 100% da pagina*/
    display: flex;
    align-items: center;
    font-size: 15px;
}

.container{
    max-width: 360px;
    margin: 0 auto; /*centraliza a div no meio da tela*/
}

.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    text-align: center;
}
.card img{
    width: 100%;
    border-radius: 30px;
    padding: 15px;
}
.card .text{
    padding: 15px 10px;
}

.text h2{
    color: hsl(218, 44%, 22%);
    margin-bottom: 15px;
}

.text p{
    color: hsl(220, 15%, 55%);
    padding: 15px;
}